#resume-container{
  flex: 1;
  border: 2px solid #aaa;
  border-radius: 12px;

  margin-right: 16px;
  margin-left: 8px;
  
  padding: 16px;
}

#resume-container #resume-name{
  color: black;
  
  font-size: 2rem;
}