form, 
#resume-container{
  flex: 1;
  margin-top: 8px;
  margin-bottom: 8px;
}

form{
  margin-left: 16px;
  margin-right: 8px;
}

@media screen and (max-width: 900px){
  form{
    margin-left: 8px;
  }
}

label{
  display: block;
  width: 100%;
}

label + input{
  margin-bottom: 16px;
}

#resume-container{
  flex: 1;
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  width: 100%;
}

input, textarea{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea{
  resize: vertical;
}

legend{
  font-weight: bold;
  font-size: 1.25rem;
}

.plus-button{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;

  margin-top: 0.5rem;

  border: 2px solid gray;

  background-color: white;
  transition: background-color 0.1s ease-in, color 0.1s ease-out;
}

.plus-button:hover{
  background-color: gray;
  color: white;
}