form, 
#resume-container{
  flex: 1;
  margin-top: 8px;
  margin-bottom: 8px;

  overflow-y: auto;
  overflow-x: hidden;
  word-wrap:break-word;
}

form{
  margin-left: 16px;
  margin-right: 8px;
}

@media screen and (max-width: 900px){
  form{
    margin-left: 8px;
  }
}

label{
  display: block;
  width: 100%;
}

label + input{
  margin-bottom: 16px;
}

#resume-container{
  flex: 1;
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
}

button{
  align-self: center;
}

ul{
  width: 100%;
}

input, textarea{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea{
  resize: vertical;
}

legend{
  font-weight: bold;
  font-size: 1.25rem;
}

.plus-button{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;

  margin-top: 0.5rem;

  border: 2px solid gray;

  background-color: white;
  transition: background-color 0.1s ease-in, color 0.1s ease-out;
}

.plus-button:hover{
  background-color: gray;
  color: white;
}

.new-work-experience{
  background-color: lightgray;
  padding: 8px;
  border: 2px solid black;
  border-radius: 12px;;
}

.fieldset-work-experiences li + li{
  margin-top: 12px;
}

.work-experience-date-container{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.work-experience-date-container > *{
  display: flex;
  flex: 1;
  gap: 4px;
  align-items: center;
}

.work-experience-date-container > * > label{
  width: auto;
}

.work-experience-date-container > * > input{
  margin: 0;
}

.delete-button{
  margin-top: 4px;
  padding: 4px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease-in, color 0.1s ease-out;
  background-color: white;
  color: black;

  align-self: end;
}

.delete-button:hover{
  background-color: lightcoral;
  color: white;
}

li{
  display: flex;
  flex-direction: column;
}